a {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(45, 124, 160);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(5, 52, 80);
    background-color: transparent;
    text-decoration: underline;
  }
  
  body {
    margin: 0px;
    background-image: linear-gradient(to right, #64d4f0, #eb6cc0);
  }
  
  h2 {
    margin-top: 0px;
  }
  
  tr,
  td {
    padding: 1em;
    font-size: medium;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  /* .diagonal1 {
      position: relative;
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(
        to bottom right,
        rgb(0, 162, 255) 80%,
        white 20%
      );
    } */
  .relative {
    position: relative;
    width: 100%;
    height: 80%;
  }
  .absolute1 {
    margin-left: 40px;
    position: relative;
    font-size: large;
    padding-left: 20%;
    padding-right: 30%;
    padding-top: 8%;
    width: 50%;
    height: 80%;
    padding-left: 10%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .oldppl {
    padding-left: 13%;
    padding-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    background: linear-gradient(
      to right,
      rgba(253, 218, 17, 0.363),
      rgba(243, 6, 37, 0.363),
      rgba(236, 38, 186, 0.904),
      rgb(53, 191, 233),
      white
    );
    -webkit-text-fill-color: transparent;
    
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: azure;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover,
  a:hover {
    opacity: 0.7;
  }
  .row {
    margin: 0 -5px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .card {
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10%;
    transition: transform 400ms ease-out;
    box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    margin-right: 20px;
  }
  .card:hover {
    transform: scale(1.1);
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(48, 47, 47);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .register {
    background: #f558a9;
    background-image: -webkit-linear-gradient(top, #a85982, #b82b92);
    background-image: -moz-linear-gradient(top, #f15050, #b82b92);
    background-image: -ms-linear-gradient(top, #f558a9, #b82b92);
    background-image: -o-linear-gradient(top, #812864, #b82b92);
    background-image: linear-gradient(to bottom, #f558a9, #ff5353);
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    border-radius: 50px;
    font-family: Arial;
    color: #fcfcfc;
    font-size: 21px;
    padding: 12px 23px 15px 24px;
    text-decoration: none;
  }
  
  .register:hover{
    background: #f53152;
    background-image: -webkit-linear-gradient(top, #f53152, #7d4b6c);
    background-image: -moz-linear-gradient(top, #f53152, #7d4b6c);
    background-image: -ms-linear-gradient(top, #f53152, #7d4b6c);
    background-image: -o-linear-gradient(top, #f53152, #7d4b6c);
    background-image: linear-gradient(to bottom, #f53152, #7d4b6c);
    text-decoration: none;
  }
  .homepage {
    background: #f558a9;
    background-image: -webkit-linear-gradient(top, #f558a9, #b82b92);
    background-image: -moz-linear-gradient(top, #f558a9, #b82b92);
    background-image: -ms-linear-gradient(top, #f558a9, #b82b92);
    background-image: -o-linear-gradient(top, #f558a9, #b82b92);
    background-image: linear-gradient(to bottom, #f558a9, #b82b92);
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    border-radius: 50px;
    font-family: Arial;
    color: #fcfcfc;
    font-size: 20px;
    padding: 12px 5px 15px 8px;
    text-decoration: none;
  }
  
  .homepage:hover {
    background: #f53152;
    background-image: -webkit-linear-gradient(top, #f53152, #7d4b6c);
    background-image: -moz-linear-gradient(top, #f53152, #7d4b6c);
    background-image: -ms-linear-gradient(top, #f53152, #7d4b6c);
    background-image: -o-linear-gradient(top, #f53152, #7d4b6c);
    background-image: linear-gradient(to bottom, #f53152, #7d4b6c);
    text-decoration: none;
  }
  .gallery2 {
    background: #f558a9;
    background-image: -webkit-linear-gradient(top, #f558a9, #b82b92);
    background-image: -moz-linear-gradient(top, #f558a9, #b82b92);
    background-image: -ms-linear-gradient(top, #f558a9, #b82b92);
    background-image: -o-linear-gradient(top, #f558a9, #b82b92);
    background-image: linear-gradient(to bottom, #f558a9, #b82b92);
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    border-radius: 50px;
    font-family: Arial;
    color: #fcfcfc;
    font-size: 21px;
    padding: 12px 23px 15px 24px;
    text-decoration: none;
  }
  
  .gallery2:hover{
    background: #f53152;
    background-image: -webkit-linear-gradient(top, #f53152, #7d4b6c);
    background-image: -moz-linear-gradient(top, #f53152, #7d4b6c);
    background-image: -ms-linear-gradient(top, #f53152, #7d4b6c);
    background-image: -o-linear-gradient(top, #f53152, #7d4b6c);
    background-image: linear-gradient(to bottom, #f53152, #7d4b6c);
    text-decoration: none;
  }
  div.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,0.6);
}
div.navbar a {
    color: white;
    margin: -50px;
  
}
div.navbar button{ 
padding: 5px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}