body {
  margin: 0;
  padding: 0;
  border: none;
  background-image: linear-gradient(to right, #93dff1, #fc8cd6);
}
#forPuzzle {
  border: none;
  left: 0px;
  top: 0px;
}
#divmenu {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 0px;
  height: 0px;
  cursor: default;
  z-index: 50001;
  border-radius: 5px;
}
#divmenu.open {
  width: 120px;
  height: 100px;
  background-color: rgba(235, 25, 10, 0.7);
  z-index: 50001;
}

#divmenu .title {
  font-family: Verdana, "Bitstream Vera Sans", "Lucida Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: 0px;
  left: 30px;
  color: rgb(233, 233, 240);
  background-color: rgba(233, 20, 48, 0.7);
  padding: 5px;
  border-radius: 5px;
}

#divmenu .line {
  font-family: Verdana, "Bitstream Vera Sans", "Lucida Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  position: absolute;
  width: 100px;
  left: 5px;
  color: rgb(236, 236, 247);
  padding: 5px;
  display: none;
  border-radius: 5px;
}

#divmenu.open .line {
  display: block;
}
#divmenu.open .line:hover {
  background-color: rgb(231, 58, 15);
  cursor: pointer;
}
canvas {
  display:block;
}
.register {
  background: #f558a9;
  background-image: -webkit-linear-gradient(top, #a85982, #b82b92);
  background-image: -moz-linear-gradient(top, #f15050, #b82b92);
  background-image: -ms-linear-gradient(top, #f558a9, #b82b92);
  background-image: -o-linear-gradient(top, #812864, #b82b92);
  background-image: linear-gradient(to bottom, #f558a9, #ff5353);
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  font-family: Arial;
  color: #fcfcfc;
  font-size: 21px;
  padding: 12px 23px 15px 24px;
  text-decoration: none;
}

.register:hover {
  background: #f53152;
  background-image: -webkit-linear-gradient(top, #f53152, #7d4b6c);
  background-image: -moz-linear-gradient(top, #f53152, #7d4b6c);
  background-image: -ms-linear-gradient(top, #f53152, #7d4b6c);
  background-image: -o-linear-gradient(top, #f53152, #7d4b6c);
  background-image: linear-gradient(to bottom, #f53152, #7d4b6c);
  text-decoration: none;
}
.homepage {
  background: #f558a9;
  background-image: -webkit-linear-gradient(top, #f558a9, #b82b92);
  background-image: -moz-linear-gradient(top, #f558a9, #b82b92);
  background-image: -ms-linear-gradient(top, #f558a9, #b82b92);
  background-image: -o-linear-gradient(top, #f558a9, #b82b92);
  background-image: linear-gradient(to bottom, #f558a9, #b82b92);
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  font-family: Arial;
  color: #fcfcfc;
  font-size: 20px;
  padding: 12px 5px 15px 8px;
  text-decoration: none;
}

.homepage:hover {
  background: #f53152;
  background-image: -webkit-linear-gradient(top, #f53152, #7d4b6c);
  background-image: -moz-linear-gradient(top, #f53152, #7d4b6c);
  background-image: -ms-linear-gradient(top, #f53152, #7d4b6c);
  background-image: -o-linear-gradient(top, #f53152, #7d4b6c);
  background-image: linear-gradient(to bottom, #f53152, #7d4b6c);
  text-decoration: none;
}
.gallery2 {
  background: #f558a9;
  background-image: -webkit-linear-gradient(top, #f558a9, #b82b92);
  background-image: -moz-linear-gradient(top, #f558a9, #b82b92);
  background-image: -ms-linear-gradient(top, #f558a9, #b82b92);
  background-image: -o-linear-gradient(top, #f558a9, #b82b92);
  background-image: linear-gradient(to bottom, #f558a9, #b82b92);
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  font-family: Arial;
  color: #fcfcfc;
  font-size: 21px;
  padding: 12px 23px 15px 24px;
  text-decoration: none;
}

.gallery2:hover {
  background: #f53152;
  background-image: -webkit-linear-gradient(top, #f53152, #7d4b6c);
  background-image: -moz-linear-gradient(top, #f53152, #7d4b6c);
  background-image: -ms-linear-gradient(top, #f53152, #7d4b6c);
  background-image: -o-linear-gradient(top, #f53152, #7d4b6c);
  background-image: linear-gradient(to bottom, #f53152, #7d4b6c);
  text-decoration: none;
}
div.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}
div.navbar a {
  color: white;
  margin: -50px;
}
div.navbar button {
  padding: 5px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}
.logo {
  border-radius: 60%;
  margin-bottom: 5px;
  margin-top: 5px;
}
